on boot
     setprop ro.md_apps.support 1
     setprop ro.md_apps.load_type $TARGET_BUILD_VARIANT
     setprop ro.md_apps.load_verno "$LABEL"
     setprop ro.md_apps.load_gencfg "$GEN_CFG"
     setprop ro.md_apps.load_date "$DATE"
