<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mediatek.ide.launch.group.launchConfigurationType">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="MT6739_Alone_LoadSymbol"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="MT6739_Alone_LoadSymbol(1)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="MT6739_Alone_LoadSymbol(2)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="MT6739_Alone_LoadSymbol(3)"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
</launchConfiguration>
