# ==============================================
# Policy File of volte_imsm_93 Executable File 

# ==============================================
# Type Declaration
# ==============================================
type volte_imsm_93, domain, mtkimsmddomain;
type volte_imsm_93_exec, exec_type, file_type, vendor_file_type;

# ==============================================
# MTK Policy Rule
# ==============================================
# permissive volte_imsm_93;
init_daemon_domain(volte_imsm_93)
net_domain(volte_imsm_93)

allow volte_imsm_93 self:capability { setuid setgid net_admin chown};

allow volte_imsm_93 socket_device:sock_file write;
allow volte_imsm_93 self:udp_socket { create write bind read setopt ioctl getattr shutdown };

# Prupose: IMCB connection
allow volte_imsm_93 volte_imcb:unix_stream_socket connectto;
allow volte_imsm_93 volte_imsa1_socket:sock_file write;

# Purpose: CCCI device
allow volte_imsm_93 ccci_device:chr_file rw_file_perms;

# Purpose: Routing
allow volte_imsm_93 self:netlink_route_socket { connect write getattr setopt read bind create nlmsg_read nlmsg_write };

# Purpose: Property
allow volte_imsm_93 init:unix_stream_socket connectto;
allow volte_imsm_93 property_socket:sock_file write;
set_prop(volte_imsm_93, usp_prop)
#set_prop(volte_imsm_93, system_prop)
set_prop(volte_imsm_93, volte_prop)
set_prop(volte_imsm_93, ril_mux_report_case_prop)
#set_prop(volte_imsm_93, radio_prop)

allow volte_imsm_93 device:dir rw_dir_perms;
allow volte_imsm_93 device:lnk_file { create unlink };
allow volte_imsm_93 devpts:chr_file { rw_file_perms setattr };
allow volte_imsm_93 self:netlink_generic_socket { connect write getattr setopt read bind create };
